
body, p {font-family: "Droid Sans", Arial, serif;}

body {
    background-color: #F1EEED;
    font-weight: 400;
    font-size: 13px; color: #333;}

#header {
    width: 100%; background-color: #fff;
    padding: 50px 0 10px 0;
    -moz-box-shadow: 0 2px 0 #E5E2E1;
    -webkit-box-shadow: 0 2px 0 #E5E2E1;
    box-shadow: 0 2px 0 #E5E2E1; margin-bottom: 25px;}
#logo {
    display: block; font-size: 48px; font-weight: normal;
    line-height: 30px; text-decoration: none; padding: 3px 0 0 100px;
    background: transparent url(../img/sigle.png) no-repeat;}
#logo a {color : #333;}
#logo span {display: block; color: #807c7c; font-size: 14px; text-transform: uppercase; margin-left: 3px;}

.bloc {
    background-color: #fff;
    -moz-box-shadow: 0 2px 0 #E5E2E1;
    -webkit-box-shadow: 0 2px 0 #E5E2E1;
    box-shadow: 0 2px 0 #E5E2E1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: relative;}

.date {
    width: 90px; height: 35px; line-height: 25px; text-align: center;
    color: #fff; font-size: 14px; font-weight: 700;
    background: transparent url(../img/bgDate.png) no-repeat;
    position: absolute; left: -10px; top: 20px;}
.article {
    padding: 20px 20px 20px 90px;
    position: relative;
    margin-bottom: 20px;}
.article h2 {font-weight: 400;}
.article h2 a {color: #f58424; text-decoration: none;}
.infosup {color: #807c7c;}

#fils {
    width: 230px; height: 38px;
    background: transparent url(images/fils.png) no-repeat;
    position: absolute; left: 0; top: 0;}

.well {
    background-color: #FFF;
    -webkit-box-shadow: 0 2px 0 #E5E2E1;
    -moz-box-shadow: 0 2px 0 #E5E2E1;
    box-shadow: 0 2px 0 #E5E2E1;
    border-radius: 10px;
    -moz-border-radius: 10px;
}

.page-header {

}

.headline {
  margin : 5px;
  font-style: italic;
}

#sidebar {padding: 20px;}
#sidebar h3 {font-size: 16px; color: #f58424; font-weight: 400; margin-bottom: 10px;}
#sidebar ul {list-style: none; margin: 0;}
#sidebar ul li {margin-bottom: 5px;}

.nav-pills > li > a {
    font-size: 14px;
    color: #333;
    background-color: #EDECEC;
    background-image: -moz-linear-gradient(top, #EDECEC, #E0DEDE);
    background-image: -ms-linear-gradient(top, #EDECEC, #E0DEDE);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#EDECEC), to(#E0DEDE));
    background-image: -webkit-linear-gradient(top, #EDECEC, #E0DEDE);
    background-image: -o-linear-gradient(top, #EDECEC, #E0DEDE);
    background-image: linear-gradient(top, #EDECEC, #E0DEDE);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
    border: 1px solid #D6D5D5;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);}

.nav-pills .active > a,
.nav-pills .active > a:hover {
  background-color: #f48425;
  background-image: -moz-linear-gradient(top, #f58a2f, #D36305);
  background-image: -ms-linear-gradient(top, #f58a2f, #D36305);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f58a2f), to(#D36305));
  background-image: -webkit-linear-gradient(top, #f58a2f, #D36305);
  background-image: -o-linear-gradient(top, #f58a2f, #D36305);
  background-image: linear-gradient(top, #f58a2f, #D36305);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f58a2f', endColorstr='#D36305', GradientType=0);
  border: 1px #B75401 solid;
  border-color: rgba(183, 84, 1, 0.5) rgba(183, 84, 1, 0.5) rgba(183, 84, 1, 1);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);}

.nav-stacked > li {margin-bottom: 5px;}

h1, h2, h3 {font-weight: 400;}
h1, h3 {color: #F58424;}

h1 {font-size: 28px; line-height: 28px; color: #F58424;}
h2 {font-size: 22px; line-height: 22px; color: #333; margin-bottom: 5px;}

.toc-nav-fixed {
  padding: 9px 0;
  position:fixed;
}

.subnav {
  width: 100%;
  height: 36px;
  background-color: #eeeeee; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
  background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
  background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.subnav .nav {
  margin-bottom: 0;
}
.subnav .nav > li > a {
  margin: 0;
  padding-top:    11px;
  padding-bottom: 11px;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #e5e5e5;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.article-inner h2 {
  margin: 25px 0 10px 0;
}

/* Fixed navcontact on scroll, but only for 980px and up (sorry IE!) */
@media (min-width: 980px) {
  .sidebar-fixed {
    position: fixed;
    top: 30px;
    right : 0px;
    z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */

  }
}

.paginator {
  text-align : center;
}